.jumbotron {
  text-align: center;
  height: 120px;
  padding: 10px;
}

.contentContainer {
  border: 2px solid black;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 30px;
}

.containerHeader {
  margin-bottom: 20px;
  margin-top: 15px;
}

th {
  font-weight: bold;
}

input {
  width: 100%;
  margin-bottom: 15px;
}